<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <title>{{ metadata.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/themes/prism-dracula.css">
    <!-- Mustard UI: https://kylelogue.github.io/mustard-ui/index.html -->
    <link rel="stylesheet" href="https://unpkg.com/mustard-ui@1.0.4/dist/css/mustard-ui.min.css">
  </head>
  <body>
    <nav>
      <section class="nav-container">
        <div class="nav-logo">
          <a href="/" class="nav-logo"><img src="/img/mille-feuille_white-on-yellow_60x60.jpeg" alt="{{metadata.title}} logo" /></a>
          <a href="/">{{metadata.title}}</a>
          <!--{% if topic %}
          : {{topic|safe}}
          {% endif %}<!---->
        </div>
      </section>
    </nav>
    <!--<header style="height: 5em">
    <h1>{{topic}}</h1>
    </header><!---->
    <main>
      <section class="container">
        <article>
          {{ content | safe }}
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
